{% include 'layout.html' %} 
{% include 'survey1.html' %}

{% block content %}
<!-- progress bar -->
<div class="progress" style="height: 20px;">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-label="Warning striped example"
    style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="row align-items-center " style="height: 20px;"></div>

<!-- survay -->
<div class="row align-items-center fs-2 fw-bold " style="height: 80px;">
  <div class="col  text-center text-black "> โรคประจำตัว </div>
</div>
<p class="text-center text-black-50"> เลือกได้มากกว่า 1 อย่าง </p>

<div class="row align-items-center " style="height: 20px;"></div>

<form action="/elderly/register/3/" method="post">
  {% csrf_token %}
  <div class="mx-0 mx-sm-auto  ">
    <div class="card w-75 m-auto ">

      <div class="modal-body m-4">
        <!-- body in survey -->

        <div class="row row-cols-1 row-cols-md-2 g-4">

          <div class="col">
            <div class="card border-0">
              <input type="checkbox" class="btn-check" id="disease1" name="disease1"  value="โรคความดันโลหิตสูง"  >
              <label class="btn btn-outline-warning" for="disease1">
                <img src="https://cdn-icons-png.flaticon.com/512/4850/4850774.png" class="rounded " alt="โรคความดันโลหิตสูง" style="width: 55px;height: 55px;">
                <br>โรคความดันโลหิตสูง
              </label>
            </div>
          </div>

          <div class="col">
            <div class="card border-0">
              <input type="checkbox" class="btn-check" id="disease2" name="disease2" value="โรคเบาหวาน" >
              <label class="btn btn-outline-warning" for="disease2">
                <img src="https://cdn-icons-png.flaticon.com/512/2750/2750349.png" class="rounded " alt="โรคเบาหวาน" style="width: 55px;height: 55px;">
                <br>โรคเบาหวาน
              </label>
            </div>
          </div>

          <div class="col">
            <div class="card border-0">
              <input type="checkbox" class="btn-check" id="disease3" name="disease3" value="โรคข้อเข่าเสื่อม" >
              <label class="btn btn-outline-warning" for="disease3">
                <img src="https://cdn-icons-png.flaticon.com/512/3411/3411755.png" class="rounded " alt="โรคข้อเข่าเสื่อม" style="width: 55px;height: 55px;">
                <br>โรคข้อเข่าเสื่อม
              </label>
            </div>
          </div>

          <div class="col ">
            <div class="card border-0 ">
              <input type="checkbox" class="btn-check" id="disease4" name="disease4" value="โรคไขมันในเลือดสูง">
              <label class="btn btn-outline-warning" for="disease4">
                <img src="https://cdn-icons-png.flaticon.com/512/1188/1188114.png" class="rounded " alt="โรคไขมันในเลือดสูง" style="width: 55px;height: 55px;">
                <br>โรคไขมันในเลือดสูง
              </label>
            </div>
          </div>

          <div class="col ">
            <div class="card border-0 ">
              <input type="checkbox" class="btn-check" id="disease5" name="disease5" value="โรคหัวใจ/หลอดเลือด">
              <label class="btn btn-outline-warning" for="disease5">
                <img src="https://cdn-icons-png.flaticon.com/512/5935/5935638.png" class="rounded " alt="โรคหัวใจ/หลอดเลือด" style="width: 55px;height: 55px;">
                <br>โรคหัวใจ/หลอดเลือด
              </label>
            </div>
          </div>

          <div class="col ">
            <div class="card border-0 ">
              <input type="checkbox" class="btn-check" id="disease6" name="disease6" value="โรคอื่น" onclick="openinput()">
              <label class="btn btn-outline-warning" for="disease6">
                <img src="https://cdn-icons-png.flaticon.com/512/2968/2968970.png" class="rounded " alt="โรคอื่น" style="width: 55px;height: 55px;">
                <br>โรคอื่นๆ
              </label>
            </div>
          </div>

        </div>

        <br>
        <div id="else_disease" style="display:none">
          <p class="text-start "><strong>โรคอื่นๆ (ถ้ามี) :</strong></p>
          <div class="form-group mb-3  m-auto fs-4 ">
            <input  type="text" class="form-control " placeholder="เช่น โรคอัลไซเมอร์" aria-label="disease_else" id="disease_elses"
            name="disease_else" value="{{disease_else}}">
          </div>
        </div>

        <script>
          function openinput() {
            var checkBox = document.getElementById("disease6");
            var text = document.getElementById("else_disease");
            if (checkBox.checked == true){
              text.style.display = "block";
            } else {
              text.style.display = "none";
            }
          }
          
          // ถ้าเกิดมีโรคอื่นๆ
          box_else = document.getElementById("disease6");
          text_else = document.getElementById("else_disease");
          para_pass_else = '{{disease_else}}';
          if (para_pass_else != ''){
            box_else.checked = true;
            text_else.style.display = "block";
          }
          else {
            box_else.checked = false;
            text_else.style.display = "none";
          }

          // ถ้าเกิดเป็นโรคที่มีในตัวเลือก
          all_box = ['disease1','disease2','disease3','disease4','disease5'];
          all_box_data = ['โรคความดันโลหิตสูง','โรคเบาหวาน','โรคข้อเข่าเสื่อม','โรคไขมันในเลือดสูง','โรคหัวใจ/หลอดเลือด']
          para_choice = '{{disease_name}}'; // [&#x27;โรคความดันโลหิตสูง&#x27;, &#x27;โรคเบาหวาน&#x27;] 
          // replace and split word
          para_choice = para_choice.replaceAll('[', '')
          para_choice = para_choice.replaceAll(']', '')
          para_choice = para_choice.replaceAll('&#x27;', '')
          para_choice = para_choice.replaceAll(' ', '')
          console.log(para_choice);

          list_para = [];
          list_para = para_choice.split(",");
          console.log(list_para);

          // function check ถ้าเกิดเป็นโรคที่มีในตัวเลือก
          for (var i = 0; i < list_para.length; i++){
            for(var j = 0; j < all_box.length; j++){
              box_disease = document.getElementById(all_box[j]);
              if (list_para[i] == all_box_data[j]){
                box_disease.checked = true ;
              }
            }
          }
        </script>

      </div>

      <div class="card-footer text-end">
        <input type="button" value="ย้อนกลับ" name="back2" class="btn btn-primary" onclick="window.location='/elderly/register/1/'">
        <!-- <a href="/elderly/register/1" class="btn btn-primary">ย้อนกลับ</a> -->
        <input type="submit" value="ถัดไป" name="next2" class="btn btn-primary">
        <!-- <a href="/elderly/register/3" class="btn btn-primary">ถัดไป</a> -->
        <input type="button" onclick="window.location='/'" value="ยกเลิก" name="cancel2" class="btn btn-dark">
      </div>

    </div>
  </div>
</form>
{% endblock %}
