{% include 'layout.html' %}
{% include 'survey2.html' %}

{% block content %}
<!-- progress bar -->
<div class="progress" style="height: 20px;">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-label="Warning striped example"
    style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="row align-items-center " style="height: 20px;"></div>

<!-- survay -->
<div class="row align-items-center fs-2 fw-bold " style="height: 80px;">
  <div class="col  text-center text-black "> ปัญหาด้านความทรงจำ </div>
</div>
<p class="text-center text-black-50"> เลือกเพียงอย่างใดอย่างหนึ่ง</p>

<div class="row align-items-center " style="height: 20px;"></div>

<form action="/elderly/register/5/" method="post">
  {% csrf_token %}
  <div class="mx-0 mx-sm-auto  ">
    <div class="card w-75 m-auto ">

      <div class="modal-body m-4">
        <!-- body in survey -->

        <div class="row row-cols-1 row-cols-md-2 g-4 ">

          <input type="radio" class="btn-check" name="options" id="remember" value="remember" autocomplete="off"
            checked>
          <label class="btn btn-outline-success" for="remember">
            <img src="https://cdn-icons-png.flaticon.com/512/4315/4315445.png" class="rounded " alt="remember"
              style="width: 55px;height: 55px;">
            <br>สามารถจดจำยาที่ทานได้
          </label>

          <input type="radio" class="btn-check" name="options" id="notremember" value="notremember" autocomplete="off">
          <label class="btn btn-outline-danger" for="notremember">
            <img src="https://cdn-icons-png.flaticon.com/512/399/399274.png" class="rounded " alt="notremember"
              style="width: 55px;height: 55px;">
            <br>ไม่สามารถจดจำยาที่ทานได้
          </label>

        </div>
      </div>

      <div class="card-footer text-end">
        <input type="button" value="ย้อนกลับ" name="back4" class="btn btn-primary"
          onclick="window.location='/elderly/register/3/'">
        <input type="submit" value="ถัดไป" name="next4" class="btn btn-primary">
        <input type="button" onclick="window.location='/'" value="ยกเลิก" name="cancel4" class="btn btn-dark">
      </div>

      <script>
        choice = '{{options}}'
        ch_1 = document.getElementById("remember");
        ch_2 = document.getElementById("notremember");
        if (choice == "notremember"){
          ch_2.checked = true ;
        }
        else{
          ch_1.checked = true ;
        }
          

      </script>

    </div>
  </div>
</form>
{% endblock %}
